In [1]:
import pandas as pd
import numpy as np
import openpyxl
from openpyxl import load_workbook

In [46]:
file_path =  "C:/Users/kadam/Documents/Data Science/Projects/ExceLAutomation/dummydata-2021.xlsx"

FB_loaded_data = pd.read_excel(file_path,sheet_name="FB")
loaded_data.head(20)

,id,id_px,id_lb,Market,Brand,Div,Channel,Asset_type,C1,C2,C3,C4,C5,Quater,Years,FC
0,682,4,116862,Afghanistan,Google.,FR,asasasd,LFV,1,1,0,1,1,Q1,2021,1
1,614,8,121773,Albania,Apple.,BPC,asasasd,Img,1,0,1,0,0,Q1,2021,1
2,681,2,113679,Algeria,Amazon.,HC,asasasd,Img,1,1,0,1,0,Q1,2021,0
3,797,1,115003,Andorra,AT&T.,cleanepedia,asasasd,LFV,0,0,0,1,1,Q1,2021,1
4,1032,4,115801,Angola,Microsoft.,FR,asasasd,LFV,0,1,0,1,1,Q1,2021,0
5,335,3,111162,Antigua and Barbuda,Samsung Brand Group.,BPC,asasasd,LFV,0,1,1,1,1,Q1,2021,0
6,34,8,119778,Argentina,Verizon.,HC,asasasd,Img,1,0,1,1,1,Q1,2021,1
7,454,2,122098,Armenia,Walmart.,FR,asasasd,Img,0,1,1,0,1,Q1,2021,0
8,347,1,112554,Australia,Age,BPC,asasasd,LFV,1,0,0,0,1,Q1,2021,0
9,741,3,120288,Austria,Axe,HC,asasasd,LFV,0,0,1,1,1,Q1,2021,0
10,470,2,113469,Botswana,Google.,cleanepedia,asasasd,LFV,0,1,0,0,0,Q1,2021,1
11,515,2,120612,Brazil,Apple.,FR,asasasd,Img,1,1,1,0,0,Q1,2021,1
12,799,8,118060,Brunei,Amazon.,BPC,asasasd,Img,0,0,1,1,1,Q1,2021,0
13,248,2,119999,Brunswick and LÃ¼neburg,AT&T.,HC,asasasd,LFV,0,0,1,0,0,Q1,2021,1
14,35,8,110889,Bulgaria,Microsoft.,cleanepedia,asasasd,LFV,0,1,1,0,1,Q1,2021,0
15,231,9,113261,Burkina Faso (Upper Volta),Samsung Brand Group.,FR,asasasd,LFV,0,0,0,1,0,Q1,2021,1
16,639,3,117641,Burma,Verizon.,BPC,asasasd,Img,0,1,0,1,0,Q1,2021,1
17,870,5,117453,Burundi,Walmart.,HC,asasasd,Img,1,0,0,0,0,Q1,2021,0
18,417,7,117363,Panama,Age,FR,asasasd,LFV,1,1,1,0,1,Q1,2021,1
19,117,7,116330,Papal States*,Axe,BPC,asasasd,LFV,0,0,1,0,1,Q1,2021,1

In [47]:
loaded_data.columns

Index(['id', 'id_px', 'id_lb', 'Market', 'Brand ', 'Div', 'Channel',
       'Asset_type', 'C1', 'C2', 'C3', 'C4', 'C5', 'Quater', 'Years', 'FC'],
      dtype='object')

In [48]:
[print(col , ": " , loaded_data[col].unique()) for col in loaded_data.columns]

id :  [ 682  614  681 ...   69  344 1076]
id_px :  [ 4  8  2  1  3  9  5  7  6 10]
id_lb :  [116862 121773 113679 ... 119875 121557 120398]
Market :  ['Afghanistan' 'Albania' 'Algeria' 'Andorra' 'Angola'
 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Australia' 'Austria'
 'Botswana' 'Brazil' 'Brunei' 'Brunswick and LÃ¼neburg' 'Bulgaria'
 'Burkina Faso (Upper Volta)' 'Burma' 'Burundi' 'Panama' 'Papal States*'
 'Papua New Guinea' 'Paraguay' 'Peru' 'Philippines' 'Piedmont-Sardinia*'
 'Poland' 'Portuga']
Brand  :  ['Google.' 'Apple.' 'Amazon.' 'AT&T.' 'Microsoft.' 'Samsung Brand Group.'
 'Verizon.' 'Walmart.' 'Age' 'Axe']
Div :  ['FR' 'BPC' 'HC' 'cleanepedia']
Channel :  ['asasasd']
Asset_type :  ['LFV' 'Img']
C1 :  [1 0]
C2 :  [1 0]
C3 :  [0 1]
C4 :  [1 0]
C5 :  [1 0]
Quater :  ['Q1' 'Q2' 'Q3' 'Q4']
Years :  [2021]
FC :  [1 0]

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [49]:
FR_data = loaded_data[loaded_data["Div"] == "FR"]

In [82]:
HC_data = loaded_data[loaded_data["Div"] == "HC"]

In [94]:
BPC_data = loaded_data[loaded_data["Div"] == "BPC"]

In [81]:
FR_data

,id,id_px,id_lb,Market,Brand,Div,Channel,Asset_type,C1,C2,C3,C4,C5,Quater,Years,FC
0,682,4,116862,Afghanistan,Google.,FR,asasasd,LFV,1,1,0,1,1,Q1,2021,1
4,1032,4,115801,Angola,Microsoft.,FR,asasasd,LFV,0,1,0,1,1,Q1,2021,0
7,454,2,122098,Armenia,Walmart.,FR,asasasd,Img,0,1,1,0,1,Q1,2021,0
11,515,2,120612,Brazil,Apple.,FR,asasasd,Img,1,1,1,0,0,Q1,2021,1
15,231,9,113261,Burkina Faso (Upper Volta),Samsung Brand Group.,FR,asasasd,LFV,0,0,0,1,0,Q1,2021,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3335,422,8,120494,Portuga,Axe,FR,asasasd,Img,1,1,0,0,0,Q4,2021,1
3347,1076,5,120193,Portuga,Axe,FR,asasasd,LFV,0,1,1,0,1,Q4,2021,1
3359,141,10,121926,Portuga,Axe,FR,asasasd,Img,0,0,1,1,0,Q4,2021,1
3371,629,4,116431,Portuga,Axe,FR,asasasd,LFV,0,0,0,1,0,Q4,2021,0
3383,931,4,116024,Portuga,Axe,FR,asasasd,Img,1,0,1,1,0,Q4,2021,0

In [63]:
file_path =  "C:/Users/kadam/Documents/Data Science/Projects/ExceLAutomation/FR_report-raw.xlsx"
FR_report_data = pd.read_excel(file_path,sheet_name="FB")
FR_report_data.head()

,id,id_px,id_lb,Market,Brand,Div,Channel,Asset_type,C1,C2,C3,C4,C5,Quater,Years,FC
0,682,4,116862,Afghanistan,Google.,FR,asasasd,LFV,1,1,0,1,1,Q1,2021,1
1,614,8,121773,Albania,Apple.,BPC,asasasd,Img,1,0,1,0,0,Q1,2021,1
2,681,2,113679,Algeria,Amazon.,HC,asasasd,Img,1,1,0,1,0,Q1,2021,0
3,797,1,115003,Andorra,AT&T.,cleanepedia,asasasd,LFV,0,0,0,1,1,Q1,2021,1
4,1032,4,115801,Angola,Microsoft.,FR,asasasd,LFV,0,1,0,1,1,Q1,2021,0

In [64]:
FR_report_data.columns

Index(['id', 'id_px', 'id_lb', 'Market', 'Brand ', 'Div', 'Channel',
       'Asset_type', 'C1', 'C2', 'C3', 'C4', 'C5', 'Quater', 'Years', 'FC'],
      dtype='object')

In [65]:
FR_data.columns

Index(['id', 'id_px', 'id_lb', 'Market', 'Brand ', 'Div', 'Channel',
       'Asset_type', 'C1', 'C2', 'C3', 'C4', 'C5', 'Quater', 'Years', 'FC'],
      dtype='object')

In [73]:
for col in FR_data.columns:
    FR_report_data[col] = FR_data[col]

In [75]:
FR_data

,id,id_px,id_lb,Market,Brand,Div,Channel,Asset_type,C1,C2,C3,C4,C5,Quater,Years,FC
0,682,4,116862,Afghanistan,Google.,FR,asasasd,LFV,1,1,0,1,1,Q1,2021,1
4,1032,4,115801,Angola,Microsoft.,FR,asasasd,LFV,0,1,0,1,1,Q1,2021,0
7,454,2,122098,Armenia,Walmart.,FR,asasasd,Img,0,1,1,0,1,Q1,2021,0
11,515,2,120612,Brazil,Apple.,FR,asasasd,Img,1,1,1,0,0,Q1,2021,1
15,231,9,113261,Burkina Faso (Upper Volta),Samsung Brand Group.,FR,asasasd,LFV,0,0,0,1,0,Q1,2021,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3335,422,8,120494,Portuga,Axe,FR,asasasd,Img,1,1,0,0,0,Q4,2021,1
3347,1076,5,120193,Portuga,Axe,FR,asasasd,LFV,0,1,1,0,1,Q4,2021,1
3359,141,10,121926,Portuga,Axe,FR,asasasd,Img,0,0,1,1,0,Q4,2021,1
3371,629,4,116431,Portuga,Axe,FR,asasasd,LFV,0,0,0,1,0,Q4,2021,0
3383,931,4,116024,Portuga,Axe,FR,asasasd,Img,1,0,1,1,0,Q4,2021,0

In [60]:
# file_path =  "C:/Users/kadam/Documents/Data Science/Projects/ExceLAutomation/FR_report-raw.xlsx"
# FR_report_data = pd.read_excel(file_path,sheet_name="FB")
# FR_report_data.head(3)

In [55]:
# FR_report_data.columns

In [56]:
# FR_report_data.truncate()

In [25]:
# FR_report_data["id"] = FR_data["id"]

In [35]:
# import pandas as pd
# df = pd.DataFrame({'col1':[1,2,3],'col2':[4,5,6]})
# writer = pd.ExcelWriter('FR_report-raw.xlsx')
# FR_data.to_excel(writer, sheet_name = 'FB')
# FR_data.to_excel(writer, sheet_name = 'YT')
# writer.save()

In [80]:
import pandas as pd
from openpyxl import load_workbook
filename = "FR_report-raw.xlsx"
book = load_workbook(filename)
writer = pd.ExcelWriter(filename, engine='openpyxl') 
writer.book = book

writer.sheets = dict((ws.title, ws) for ws in book.worksheets)

FR_data.to_excel(writer, sheet_name = 'FB', index=False)
FR_data.to_excel(writer, sheet_name = 'YT',index=False)

writer.save()

In [85]:
filename = "HC_report-raw -2021.xlsx"
book = load_workbook(filename)
writer = pd.ExcelWriter(filename, engine='openpyxl') 
writer.book = book

writer.sheets = dict((ws.title, ws) for ws in book.worksheets)

HC_data.to_excel(writer, sheet_name = 'FB', index=False)
HC_data.to_excel(writer, sheet_name = 'YT',index=False)

writer.save()

In [104]:
filename = "BPC_report-raw -2021.xlsx"
book = load_workbook(filename)
writer = pd.ExcelWriter(filename, engine='openpyxl') 
writer.book = book

writer.sheets = dict((ws.title, ws) for ws in book.worksheets)

BPC_data.to_excel(writer, sheet_name = 'FB', index=False)
BPC_data.to_excel(writer, sheet_name = 'YT',index=False)

writer.save()

In [118]:
path1 = "BPC_report-raw -2021.xlsx"
wb = load_workbook(path1)

ws = wb['YT']
print(ws.max_row, ws.max_column)

3390 24

In [106]:
end=ws.cell(ws.max_row,ws.max_column).column_letter + str(ws.cell(ws.max_row,ws.max_column).row)
start = "A2"

In [114]:
formula_col_list = [] 
unique_col_list = []
for row in ws[start:end]:
    for cell in row:
        if cell.data_type == "f":
            formula_col_list.append(cell.column_letter)
for each_col in formula_col_list:
    if each_col not in unique_col_list:
        unique_col_list.append(each_col)
print(unique_col_list)

['V', 'W', 'X']

In [115]:
for each_unique_col in unique_col_list:
    for row in ws['{}1:{}{}'.format(each_unique_col,each_unique_col,ws.max_row)]:
        for cell in row:
                ws["{}{}".format(cell.column_letter,cell.row)] = "=SUM(I{}:M{})".format(cell.row, cell.row)

wb.save("BPC_report-raw -2021.xlsx")